$globalVars: (
  font: 'CircularStd',
  container: 1400px,
  ui-default-measure: 8px,
  ui-default-measure2x: calc(2 * #{globalVars(ui-default-measure)}),
  ui-default-measure3x: calc(3 * #{globalVars(ui-default-measure)}),
  ui-default-measure4x: calc(4 * #{globalVars(ui-default-measure)}),
  ui-default-border-radius: 4px,
  ui-default-border-radius--large: 8px,
  ui-default-border-radius--x-large: 16px,
  ui-default-border-radius--circle: 50%,
  ui-default-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10),
  ui-default-box-shadow--light: 0 10px 40px 0 rgba(23, 28, 48, 0.14),

  macbook-width: 1152px,
  buttonNegativePosition: -28px
);

$colors: (
  primary-dark: darken(#FDD886, 5%),
  primary: #FDD886,
  primary-light: lighten(#FDD886, 3%),
  primary-x-light: lighten(#FDD886, 5%),
  primary-xx-light: lighten(#FDD886, 8%),

  pink-background: #FFFBF7,
  gray-background: #FAFAFA,
  gray-background-medium: #F2F5FF,
  gray-background-dark: #D6DAEA,
  border: #D9D9D9,
  text: #191D32,
  text-light: #444,
  text-pink: #FCE5E4,
  er-pink: #FCEFE9,
  pink-light: #FCF4F2,

  //info-primary: #5564F5,
  accent: #ED777E,
  accent-light: #F1AA7D,
  //info-background: #E6F7FF,
  //info-border: #91D5FF,
  //info-primary: #1890FF,
  //info-primary-hover: #40A9FF,
  success-background: #F6FFED,
  success-border: #B7EB8F,
  success-primary: #52C41A,
  success-primary-hover: #73D13D,
  //warning-background: #FFFBE6,
  //warning-border: #FFE58F,
  //warning-primary: #FAAD14,
  //warning-primary-hover: #FFC53D,
  //
  //error-background: #FFF1F0,
  //error-border: #FFA39E,
  //error-primary: #F5222D,
  //error-primary-hover: #FF4D4F,
  er-blue :#47A7EC,
  light-blue: #266186,
  orange: #FED980
);
