@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Book.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../assets/fonts/CircularStd-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$vars: (
  color: $colors,
  global: $globalVars,
);

:root {
  @each $prefix, $list in $vars {
    @each $name, $value in $list {
      --#{$prefix}-#{$name}: #{$value};
    }
  }
}

@import 'common/normalize';
@import 'common/typography';
@import 'common/common';
