.container {
  max-width: globalVars(container);
  width: calc(100% - 2 * #{globalVars(ui-default-measure3x)});
  margin: 0 auto;
  position: relative;

  @include lg-up {
    width: calc(100% - 100px);
  }

  &--wide {
    // 2 * measure acts like padding
    max-width: calc(100% - 2 * #{globalVars(ui-default-measure3x)});
    width: calc(100% - 2 * #{globalVars(ui-default-measure3x)});
  }
}

.btn {
  position: relative;
  background: color(primary);
  border: none;
  outline: none;
  color: color(pink-light);
  padding: 8px 24px;
  @include font(14, 600);
  border-radius: 4px;
  cursor: pointer;

  &-transparent {
    background: rgba(255,255,255,0.05);
    border: 1px solid rgba(255,255,255,0.6);
  }

  &-white {
    background: white;
    color: color(primary-dark);
  }

  &-to-inside {
    margin-left: -80px;
    color: color(pink-light);
    background: color(blue);
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
  }

  &-small {
    padding: 4px 8px;
    @include font(12, 500);
  }

  &-accent {
    background-color: color(accent);
  }

  &-blue {
    background: color(blue);
  }

  &-pink {
    background: color(pink);
  }
}

.input .autocomplete-input {
  width: 360px;
  background: #fff;
  color: color(primary);
  font: inherit;
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0 , .1);
  border: 0;
  border-radius: 4px;
  outline: 0;
  padding: 12px;

  &--short {
    width: 100px;
  }
}

::placeholder {
  color: #161A27;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.tag {
  @include font(12, 700);
  background: white;
  color: color(primary);
  padding: 4px 8px;
  border-radius: 12px;
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

.pink {
  color: color(pink);

  &-light {
    color: color(pink-light);
  }
}

.input-wrapper {
  position: relative;

  img {
    position: absolute;
    right: 16px;
    top: 10px;
  }
}

.underline,
.underline:hover {
  text-decoration: underline !important;
}

.autocomplete-input {
  background: transparent;
  border: none;
  padding: 0;
}

.autocomplete-input:focus, .autocomplete-input[aria-expanded=true] {
  border: none;
  background-color: white;
  outline: none;
  box-shadow: none;
}

.autocomplete-result-list {
  margin: 0;
  border: none;
  padding: 0;
  box-sizing: border-box;
  max-height: 296px;
  overflow-y: auto;
  background: #fff;
  list-style: none;
  box-shadow: none;
  width: 100%;

  li:hover {
    background: color(pink-background);
    cursor: pointer;
  }
}

.autocomplete-result {
  padding: 8px 24px;
  background: none;
  color: color(primary);
}
