body {
  font-feature-settings: 'cv05' on;
}

.heading {
  @include font-weight(600);
  color: color(text);

  &--hero {
    $size: 45;
    $sizeLg: 55;
    $sizeXl: 65;
    @include font-size($size);
    line-height: calc(#{$size}px + 8px);
    margin: globalVars(ui-default-measure3x) 0;

    @include lg-up {
      @include font-size($sizeLg);
      line-height: calc(#{$sizeLg}px + 8px);
    }

    @include xl-up {
      @include font-size($sizeXl);
      line-height: calc(#{$sizeXl}px + 8px);
    }
  }

  &--primary {
    $size: 28;
    @include font-size($size);
    line-height: calc(#{$size}px + 8px);
    margin: globalVars(ui-default-measure) 0;
  }

  &--secondary {
    $size: 16;
    @include font-size($size);
    line-height: calc(#{$size}px + 8px);
    margin: globalVars(ui-default-measure) 0;
  }

  &--tertiary {
    $size: 14;
    @include font-size($size);
    line-height: calc(#{$size}px + 8px);
    margin: globalVars(ui-default-measure) 0;
  }

  &--section {
    $size: 20;
    @include font-size($size);
    line-height: calc(#{$size}px + 8px);
    margin: globalVars(ui-default-measure) 0;
  }

  &--white {
    color: color(pink-light);
  }
}

.copy {
  $size: 16;
  @include font($size);
  line-height: calc(#{$size}px + 8px);
  color: color(text-light);
  margin: globalVars(ui-default-measure) 0;

  &--small {
    $size: 12;
    @include font($size);
    line-height: calc(#{$size}px + 8px);
  }

  &--large {
    $size: 20;
    @include font($size);
    line-height: calc(#{$size}px + 8px);
  }

  &--color-light {
    color: color(text);
  }

  &--bold {
    @include font-weight(600);
  }

  &--white {
    color: color(pink-light);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
